<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

<main>
    <div class="jumbotron">

        <h1> Welcome to the home page </h1>
        <h5> Trip and Destinations show all current trips and destinations </h5>
        <h5> Edit pages allow for Crud Operation </h5>

    </div>
</main>


</body>
</html>