<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/mdb.dark.min.css" />
  </head>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>
<!-- 1 rows for each bread with 2 colomns, 1 for ingredients and instructions -->
<main>
    <div class="text-center">
        <h3>Dulce De Leche Crepes</h3>
    </div>
    <div class="row">
        <!--Grid column-->
        <div class="col-sm-4">
          <h5>Ingredients</h5>

          <p class="small text-muted text-uppercase mb-2">
            <li> 1 cup all-purpose flour</li>
            <li> 1 1/2 cups milk</li>
            <li> 2 large eggs</li>
            <li> Pinch of salt</li>
            <li> 2 tablespoons of melted butter</li>
            <li> 2 tablespoons sugar</li>
            <li> 1 teaspoon vanilla extract</li>
            <li> 1 (13.4oz) can dulce de leche</li>
            <li> Non cooking spray or vegetable oil</li>
          </p>

        </div>
        <div class="col-sm-8">
          <h5>Instructions</h5>

          <p>
            <ul>
                <li>Combine all the ingredients, except the dulce de leche, 
                    in the jar of a blender and blend until smooth. You can 
                    also whisk everything together by hand.</li>
                <li>Cover the jar and let the batter sit for about 30 minutes or overnight in the fridge.</li>
                <li>Pre heat a 10-inch nonstick pan (or crepe pan) over medium heat. 
                    Spray with cooking spray or add a little vegetable oil and, once hot,
                     add a ladle of batter. Immediately, pick up the pan and swirl to spread the batter into an even layer.</li>
                <li>Once the crepe has browned slightly on the bottom, carefully lift it using a spatula and flip.
                     Cook the second side until golden and slide the crepe into a plate or cooling rack.</li>
                <li>Repeat with the remaining batter, adding more oil or cooking spray as needed.</li>
                <li>Place the crepes on your counter and spread the desired amount of dulce de leche down the center of each crepe.
                     Fold each crepe twice and decorate with powdered sugar, whipped cream and/or fresh fruit, if desired.</li>
                <li>Serve immediately.</li>
            </ul>
          </p>
        </div>
    </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="text-center">
            <h3>Taro Swirl</h3>
        </div>
        <div class="row">
            <!--Grid column-->
            <div class="col-sm-4">
              <h5>Ingredients</h5>
    
              <p class="small text-muted text-uppercase mb-2">
                <li> 1 cup taro paste</li>
                <li> 120 ml warm milk (38 Celsius or 100 Fahrenheit)</li>
                <li> 3 gram active dry yeast</li>
                <li> 10 gram sugar</li>
                <li> 300 gram bread flour (I use all-purpose flour)</li>
                <li> 20 gram sugar</li>
                <li> 2 gram salt</li>
                <li> 1 egg (about 60 gram), room temperature</li>
                <li> 30 gram unsalted butter, room temperature</li>
                <li> 1 egg</li>
                <li> 1 teaspoon milk/water</li>
              </p>
    
            </div>
            <div class="col-sm-8">
              <h5>Instructions</h5>
    
              <p>
                <ul>
                    <li>Mix together warm milk with active dry yeast and 10 gram sugar. Set aside until foamy, about 10-15 minutes.</li>
                    <li>Whisk together bread flour (or all purpose flour), sugar, and salt. Make a well, add egg and yeast solution.
                         Knead until non-sticky and smooth. About 10-15 minutes. Add butter and knead again until dough is not oily,
                          soft, smooth, and elastic. Another 10-15 minutes.</li>
                    <li>Grease and flour an 9" cake pan.</li>
                    <li>Divide bread dough into 8 portions.</li>
                    <li>For each portion, roll into an oblong of about 3"x5". Spread 2 tablespoon taro paste to half the dough (lengthwise),
                         leaving 0.5" of the edges uncovered. Fold the dough to encase the filling, pinching the edges lightly so the filling doesn't leak.
                          Make 2 slits lengthwise. Grab each end with your hands, then gently twirl a couple of times, and connect the two ends to create a ring.
                           Place the shaped dough onto the prepared pan.</li>
                    <li>Cover the pan with a wet kitchen towel/saran plastic wrap. Let the dough proof until volume is doubled, about 1 hour in a warm kitchen.</li>
                    <li>Preheat oven to 180 Celsius (350 Fahrenheit).</li>
                    <li>Brush the top of the dough liberally with egg wash, then bake in preheated oven until golden brown, about 20-25 minutes.</li>
                </ul>
              </p>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="text-center">
            <h3>Beignets</h3>
        </div>
        <div class="row">
            <!--Grid column-->
            <div class="col-sm-4">
              <h5>Ingredients</h5>
    
              <p class="small text-muted text-uppercase mb-2">
                <li> 1 and 1/2 cups warm water, between 110 and 115 degrees (F)</li>
                <li> 2/3 cup granulated sugar</li>
                <li> 2 and 1/4 teaspoons active dry yeast</li>
                <li> 2 large eggs, at room temperature</li>
                <li> 1 cup evaporated milk</li>
                <li> 2 and 1/2 teaspoons pure vanilla extract</li>
                <li> 7 cups bread flour</li>
                <li> 1 and 1/2 teaspoons salt</li>
                <li> 5 tablespoons unsalted butter, at room temperature</li>
                <li> 4 cups peanut oil, for deep frying</li>
                <li> 2 cups confectioners sugar</li>
              </p>
    
            </div>
            <div class="col-sm-8">
              <h5>Instructions</h5>
    
              <p>
                <ul>
                    <li>In a medium-size bowl, add the warm water, sugar, and yeast and whisk well to combine.
                        Sit aside for about 10 minutes, or until the mixture has bubbled up and become foamy.</li>
                    <li>In the bowl of a stand mixer fitted with the paddle attachment,
                        beat the eggs until smooth. Beat in the vanilla and evaporated milk.
                        Beat in 3 and 1/2 cups of the flour until smooth. Turn the mixer to low speed and slowly pour in the yeast mixture
                        careful here - this mixture can splash up if added to quickly!); beat until smooth. Add in the butter and beat until incorporated.
                        Finally, beat in the remaining 3 and 1/2 cups of flour and salt. Beat until dough is smooth and cohesive;
                        about 2 minutes. Cover the bowl tightly with plastic wrap and refrigerate the dough for at least 2 hours, or up to 24 hours.</li>
                    <li>Line a large rimmed baking sheet with three layers of paper towels, set aside.</li>
                    <li>In a large enameled cast-iron pan, heat 4-inches of oil to 360 degrees (F). 
                        Remove the dough from the refrigerator. On a lightly floured surface, roll the dough out into a 1/4-inch thick rectangle.
                         Cut the dough into 2 and 1/2-inch squares.</li>
                    <li>In batches, fry the dough until they puff up and are golden brown in color, about 1 minute. Using a slotted spoon, 
                        transfer the beignets to the prepared baking sheet and repeat with remaining dough.</li>
                    <li>Dust with powdered sugar and serve at once! </li>
                </ul>
              </p>
            </div>
        </div>
        <!--Grid column-->
      </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>