<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/mdb.dark.min.css" />
  </head>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="text-center mb-4">
        <h3>Something to say? Let Us Know!</h3>
    </div>
    <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">First name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" id="form6Example2" class="form-control" />
              <label class="form-label" for="form6Example2">Last name</label>
            </div>
          </div>
        </div>
      
    
      
        <!-- Message input -->
        
        <div class="form-outline mb-4">
          <textarea class="form-control" id="form6Example7" rows="4"></textarea>
          <label class="form-label" for="form6Example7">Leave a review!</label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Submit Review</button>


        <!-- Reviews left from phantom sustomers -->
        <figure>
            <blockquote class="blockquote">
              <p>Crepes were delishious, and they're big enough to share</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Aisha Antonio</cite>
            </figcaption>
          </figure>

          <figure>
            <blockquote class="blockquote">
              <p> Never had a Taro Swirl before but I'm sold now</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Jaylon Gilkey</cite>
            </figcaption>
          </figure>

          <figure>
            <blockquote class="blockquote">
              <p>Beignet were good,nothing like New Orleans but a good substitute</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Cameron Henderson</cite>
            </figcaption>
          </figure>

          <figure>
            <blockquote class="blockquote">
              <p> I take bread with my morning cofee and nothing beats homemade baking. Happy with more than 1 option.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Hans Cage</cite>
            </figcaption>
          </figure>

          <figure>
            <blockquote class="blockquote">
              <p> Wish their were more options</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">Jane Doe</cite>
            </figcaption>
          </figure>

      </form>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>