<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/mdb.dark.min.css" />
  </head>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="text-center">
        <h3>Need some tools?</h3>
    </div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <img src="https://i.insider.com/5f623e1457b7da001ee11fd8?width=1136&format=jpeg" class="card-img-top" alt="Wild Landscape"/>
            <div class="card-body">
            <h5 class="card-title">Whisk</h5>
            <p class="card-text">
             A must have for mixing ingredients
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <img src="https://empire-s3-production.bobvila.com/articles/wp-content/uploads/2020/12/Best_Oven_Mitts.png" class="card-img-top" alt="Wild Landscape"/>
            <div class="card-body">
            <h5 class="card-title">Insulated Oven Mitts</h5>
            <p class="card-text">
                Helps keep your hands safe from burns
            </p>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h3>Checkout</h3>
</div>

<!-- Simple form, added checkmmark to select what item to choose to buy -->
<form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
            <input type="text" id="form6Example1" class="form-control" />
            <label class="form-label" for="form6Example1">First name</label>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
            <input type="text" id="form6Example2" class="form-control" />
            <label class="form-label" for="form6Example2">Last name</label>
            </div>
        </div>
    </div>

    <div class="row">
    <!-- Text input -->
    <div class="col">
        <div class="form-outline mb-4">
        <input type="text" id="form6Example3" class="form-control" />
        <label class="form-label" for="form6Example3">Credit Card Number</label>
        </div>
    </div>
  
    <!-- Text input -->
    <div class="col">
        <div class="form-outline mb-4">
        <input type="text" id="form6Example4" class="form-control" />
        <label class="form-label" for="form6Example4">CVV</label>
        </div>
    </div>
</div>
    
    <!-- Checkbox -->
    <div class="row">
        <div class="col">
            <div class="form-check d-flex justify-content mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
                <label class="form-check-label" for="form6Example8"> Order Whisk </label>
            </div>
        </div>
        <!-- Checkbox -->
        <div class="col">
            <div class="form-check d-flex justify-content mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked />
                <label class="form-check-label" for="form6Example8"> Order Mitts </label>
            </div>
        </div>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Place order</button>
  </form>

</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>